@import "../../../variables";


.list__container {
  margin: 5em auto;
  padding: .5em;
  max-width: 75%;
}

button.active {
  background-color: $main-red; /* Cor de fundo para o botão ativo */
  color: $main-white;
}

.font__sec {
  font-weight: bold;
}

.spacing {
  margin: 5em 0;
}

button:active {
  transform: scale(0.95);
}

.classes-buttons {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
}

.circular-button {
  border-radius: 50%;
  width: 8rem; /* Largura do botão */
  height: 8rem; /* Altura do botão */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  font-size: $sec-font-size;
}

.rounded__soft {
  border-radius: 2.5%;
}

.tf_button__main {
  color: $main-white;
  background-color: $main-black;
  cursor: pointer;
  padding: .4em;
  transition: background-color .2s;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: bold;
}

.tf_button__main__red-border {
  border: solid .25em $main-red;
}

.tf_button__main__white-border {
  border: solid .25em $main-white;
}

.padding__big {
  //padding: 4em;
  font-size: $main-font-size;
}

.tf_button__main:hover {
  background-color: $main-white;
  border: solid .25em $main-white;
  color: $main-black
}

#generate-btn:hover {
  background-color: $main-red;
  color: $main-white;
}

.horizontal-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Cria exatamente 5 colunas de largura igual */
  gap: 1rem; /* Espaço entre os itens da grid */
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 200px;
}

.item-content {
  font-family: "Noto Sans Display", sans-serif;
  font-size: $sec-font-size;
  color: $main-white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .25em auto;
}

.img-container {
  position: relative;
  //width: 171px; // Largura da sua imagem
  //height: 253px; // Altura da sua imagem
  background-size: cover;
  background-position: center;
}

.item-content__image {
  height: 175px;
}

.cover-text {
  position: absolute;
  bottom: 0; // Ajuste isso para cobrir o texto apropriadamente
  left: 0;
  width: 100%;
  height: 45px; // Ajuste a altura para cobrir o texto
  background-color: $main-black; // Cor de fundo para cobrir o texto, ajuste conforme necessário
  z-index: 70;
}

.item-content__name {
  z-index: 100;
  margin: -1em;
  font-weight: 700;
}

footer {
  padding-top: 2em;
  font-size: $main-font-size - .5em;
  font-weight: lighter;
}
