<div class="form-div">
  <form [formGroup]="playerForm">
    <div class="classes-buttons">
      <button (click)="playerForm.get('playerClass')?.setValue('LIGHT')"
              [class.active]="playerForm.get('playerClass')?.value === 'LIGHT'"
              class="circular-button tf_button__main tf_button__main__white-border"
              type="button">LIGHT
      </button>
      <button (click)="playerForm.get('playerClass')?.setValue('MEDIUM')"
              [class.active]="playerForm.get('playerClass')?.value === 'MEDIUM'"
              class="circular-button tf_button__main tf_button__main__white-border"
              type="button">MEDIUM
      </button>
      <button (click)="playerForm.get('playerClass')?.setValue('HEAVY')"
              [class.active]="playerForm.get('playerClass')?.value === 'HEAVY'"
              class="circular-button tf_button__main tf_button__main__white-border"
              type="button">HEAVY
      </button>
    </div>
  </form>
  <div class="spacing"></div>
  <div class="list__container">
    <ul class="horizontal-list">
      <li *ngFor="let item of loadout">
        <div class="item-content">
          <span>{{item.name}}</span>
        </div>
      </li>
    </ul>
  </div>
  <button (click)="generateLoadout()"
          class="tf_button__main rounded__soft btn__tall padding__big tf_button__main__white-border"
          id="generate-btn">Generate Random
    Loadout
  </button>
  <footer>
    <p>From RadiHaz with ❤️ to The Finals' community</p>
  </footer>
</div>
