@import "../../../variables";


.list__container {
  margin: 5em auto;
  padding: .5em;
  max-width: 75%;
}

button.active {
  background-color: $main-red;
  color: $main-white;
}

.font__sec {
  font-weight: bold;
}

button:active {
  transform: scale(0.95);
}

.classes-buttons {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
}

.circular-button {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $sec-font-size;
}

.rounded__soft {
  border-radius: 2.5%;
}

#random_class {
  margin-top: 1.5em;
}

.tf_button__main {
  color: $main-white;
  background-color: $main-black;
  cursor: pointer;
  padding: .25em;
  transition: background-color .2s;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: bold;
}

.tf_button__main__red-border {
  border: solid .25em $main-red;
}

.tf_button__main__white-border {
  border: solid .25em $main-white;
}

.padding__big {
  font-size: $main-font-size;
}

.tf_button__main:hover {
  background-color: $main-white;
  border: solid .25em $main-white;
  color: $main-black
}

#generate-btn:hover {
  background-color: $main-red;
  color: $main-white;
}

#class_name_highlight {
  text-decoration: underline;
}

.horizontal-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .75rem;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 150px;
}

.item-content {
  font-family: "Noto Sans Display", sans-serif;
  font-size: $sec-font-size;
  color: $main-white;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .25em auto;
}

.img-container {
  position: relative;
  background-size: cover;
  background-position: center;
}

.item-content__image {
  height: 175px;
}

.cover-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: $main-black;
}

.item-content__name {
  z-index: 100;
  margin: -1em;
  font-weight: 700;
}

footer {
  padding-top: 2em;
  font-size: $main-font-size - .5em;
  font-weight: lighter;
}
