@import "../../../variables";

.horizontal-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza a lista horizontalmente no contêiner */
}

.list__container {
  border: 1em solid $main-red;
  max-width: 75%;
  padding: $main-font-size;
}

button.active {
  background-color: $main-red; /* Cor de fundo para o botão ativo */
  color: $main-white;
}

.font__sec {
  font-weight: bold;
}

.form-div {
}

.spacing {
  margin: 5em 0;
}

button:active {
  transform: scale(0.95);
}

.classes-buttons {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
}

.circular-button {
  border-radius: 50%;
  width: 8rem; /* Largura do botão */
  height: 8rem; /* Altura do botão */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  font-size: $sec-font-size;
}

.rounded__soft {
  border-radius: 2.5%;
}

.list__container {
  margin: 5em auto;
}

.tf_button__main {
  color: $main-white;
  background-color: $main-black;
  cursor: pointer;
  padding: .4em;
  transition: background-color .2s;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: bold;
}

.tf_button__main__red-border {
  border: solid .25em $main-red;
}

.tf_button__main__white-border {
  border: solid .25em $main-white;
}

.padding__big {
  //padding: 4em;
  font-size: $main-font-size;
}

.tf_button__main:hover {
  background-color: $main-white;
  border: solid .25em $main-white;
  color: $main-black
}

#generate-btn:hover {
  background-color: $main-red;
  color: $main-white;
}

.item-name {
  margin: 5% auto;
}

.horizontal-list li {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo de cada 'li' horizontalmente */
  margin-right: 2em;
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Noto Sans Display", sans-serif;
  font-size: $sec-font-size + .3em;
  color: $main-white;
}

footer {
  padding-top: 2em;
  font-size: $main-font-size - .5em;
  font-weight: lighter;
}
