<main class="main">
  <div class="content-div">
    <section class="title-section">
      <div class="tf__image">
        <img
          alt=""
          height="75"
          src="assets/images/THE_FINALS_Logo_Horizontal_White.png"
          width="475"
        >
      </div>
      <div id="title">
        Loadout Randomizer - <span class="season_ready">SEASON 4 READY!</span>
      </div>
    </section>
    <section>
      <app-item-icon></app-item-icon>
    </section>
  </div>
</main>
<router-outlet/>
