@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "variables";

html, body {
  background-color: $main-black;
  color: white;
  text-align: center;
}

body {
  margin: 0;
  font-family: "Saira Extra Condensed", "Noto Sans Display", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

